@import '../assert/common.scss';

.titleCity {
   width: 100%;
   height: pxToRem(50px);
   position: sticky;
   top: 0;
   display: flex;

   .county {
      flex: 2;
      font-size: pxToRem(14px);
      text-align: center;
      line-height: pxToRem(50px);
      color: blue;
   }

   .data {
      flex: 5;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span:first-child {
         color: blue;
      }

      span {
         font-size: pxToRem(14px);
      }
   }

   .ico {
      flex: 1;
   }
}